/* Global Styling */

:root {
    --color-primary: #C59FC9;
    --color-secondary: #C1E0F7;
    --font-primary: "Abril Fatface", sans-serif;
    --font-secondary: Poppins, sans-serif;
}

.__section_padding {
    padding: 100px 0;
}

/* Section 1 */